<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Echo</title>
    <link href="https://fonts.googleapis.com/css?family=Monoton|Ultra" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Katibeh" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
         <style>
           *{
             margin: 0;
             padding: 0;
           }
           body{
             
             font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"
           }
           nav{
             background-color: rgba(255, 255, 255, 0.911);
             box-shadow:0px 0px 20px #dddddd; 
           }
           section#header{
             padding-top: 10vh;
            
             min-height: 35vh;
           }
           section#main-photo{
             min-height: 68vh;
             max-height:80vh;
             background: url("/uploads/<%=userblog.bigPic.filename%>");
             background-position: center;
             background-repeat: no-repeat;
             background-size: contain;
           }
           section#blog{
             min-height: 100vh;
           }
           section#blog{
             height:inherit;
           }
           
           @media screen and (max-width: 600px){
             .brand-logo{
               font-size: 0.1rem;
             }
           }
         </style>
</head>
<body>
  <!--dropdown-->
<ul id="dropdown1" class="dropdown-content">
 
    <li><a href="/profile">Profile</a></li>
    <li><a href="/upload/write">Write</a></li>
    <li class="divider"></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
    <!--Nav Bar-->
        <nav class="grey-text text-darken-4 hoverable pushpin navbar-fixed" style="z-index: 10;">
                <div class="nav-wrapper container ">
                                     
                        <a href="/" class="brand-logo black-text text-darken-4 " style="font-family: 'Monoton', cursive; ">Echo <span class="grey-text text-lighten-3" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"" >|</span><span class=" grey-text text-darken-3 right" style="font-family: 'Katibeh', cursive;padding-top: 0.4rem;">  Blogs</span></a>
                        <a href="" class="sidenav-trigger" data-target="mobile-links" >
                          <i class="material-icons grey-text text-darken-3" style="font-size:34px;">menu</i>
                      </a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down grey-text text-darken-4">
                            <% if(!user){ %>
                              <li ><a href="/" class="grey-text text-darken-4">Home</a></li>
                              <%}%>
             
                    <li><a href="/explore"class="grey-text text-darken-4" >Explore</a></li>
                    <% if(!user){ %>
                    <li><a href="/auth/login" class="grey-text text-darken-4">Login</a></li>
                    <%} else{%>
                      <li><a  class="dropdown-trigger" data-target="dropdown1" style="padding-top: 10px;"><img src="<%=user.thumbnail%>" class="circle " style="height:35px; width:35px;" ><i class="material-icons right">arrow_drop_down</i></a></li>
                      <%}%>
                  </ul>
               
               </div>
               
              </nav>
              <ul class="sidenav" id="mobile-links">
                  <% if(!user){ %>
                    <li ><a href="/" class="grey-text text-darken-4">Home</a></li>
                    <li><a href="/explore"class="grey-text text-darken-4" >Explore</a></li>
                  
                      <li><a href="/auth/login" class="grey-text text-darken-4">Login</a></li>
                      <%} else{%>
                        <li><a><img src="<%=user.thumbnail%>" class="circle " ></a></li>
                        <li><a href="/explore"class="grey-text text-darken-4" >Explore</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/upload/write">Write</a></li>
                        <li class="divider"></li>
                        <li><a href="/auth/logout">Logout</a></li>
                        <%}%>
             </ul>
    <!--end-->

    <!--Header-->
    <section class="section container" id="header">
      <h2 class="grey-text text-darken-3 center" style="font-family: 'Vidaloka', serif;"><%= typeof(userblog)!='undefined'? userblog.title:''%></h2>
     
      <h5 class="grey-text " style="line-height:2.3rem;"><%= typeof(userblog)!='undefined'? userblog.shortdescription:''%></h5>
      <br> <br>
      <div class="row">
      <div class="col  white valign-wrapper" id="author">
        
          
                  <ul class="collection" style="border:none; margin-bottom: 0;">
                      <li class="collection-item avatar">
                          <img src="<%= typeof(userblog)!='undefined'? userblog.profilepic:''%>" class="circle ">

                 <p><span style="margin-right:4px;" class="title grey-text text-darken-3"><%= typeof(userblog)!='undefined'? userblog.author:''%></span>
                 
                  <%if(typeof(user)!='undefined'){%>
                    <%if(userprofile.followers.some(follower=>{return follower==user.email})){%>
                    <span><a id="follow-req" class="btn teal-text white  " style="border:1px teal solid; border-radius:5px; padding:1px 6px;">Following</a></span>
                    <%} else{%>
                      <span><a id="follow-req" class="btn teal-text white  " style="border:1px teal solid; border-radius:5px; padding:1px 6px;">Follow</a></span>
                      <%}%>
                  <!-- <span><a id="follow-req" class="btn teal-text waves-effect white" style="border:1px teal solid; border-radius:5px; padding:1px 6px;"></a></span>--> 
               <%}else if(typeof(user)=='undefined'){%>
                <span><a class="btn disabled grey-text text-darken-2 grey lighten-2 waves-effect" style="border:1px grey solid; border-radius:5px; padding:1px 6px;">Login to follow</a></span>
               <%}%>
                  </p> 
                  <p><span class="grey-text text-lighten-1"><%= typeof(userblog)!='undefined'? userblog.date:''%></span> </p>
                     
                </li>
                </ul>
           
          </div>
        </div>
        <div class="divider"></div>
    </section>
   
      <!--End-->        
      <!--Main Photo-->        
    <section class="section" id="main-photo" style="max-width:100vw; min-width:80vw;"></section>
    <!--End-->

    <!--Blog-->
    <section class="section container" style="padding-top:5vh;" id="blog" >
      <div class="row">
        <!--Connect Section-->
        <div class="col  m1 hide-on-small-only" >
          <div class="row center">
              <div class="col s12" style="height:7vh;"></div>
                  <br>
          </div>
        </div>

        <!--Article-->
        <div class="col s12 m10 l9 container" style="line-height:2.4rem;padding-left: 1rem;padding-right: 1rem; font-size:1.4rem; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
          <div>
            
          <p><%=userblog.blog%></p>
        </div>
        <br>
      
        <div id="tags">
            <%userblog.tags.forEach((tag)=>{%>
        <div class="chip">
            <%=tag%>
          </div>
          <%})%>
          <div class=" secondary-content">
          <span id="number-of-likes" class="badge grey-text text-lighten-4 grey darken-3" style="position:relative;left:-1.8rem; top:-0.6rem; z-index: 9;"><%=userblog.likes.length%></span>
            <%if(typeof(user)!='undefined'){%>
              <%if(favorites.some((favorite)=>{return favorite==userblog.id})){%>
              <a   id="favorite-button" class="disabled btn-floating grey lighten-3"><i class="material-icons grey lighten-3 grey-text text-darken-3 ">favorite</i></a> 
              
              <%} else{%>
              <a id="favorite-button" class="btn-floating grey lighten-3"><i class="material-icons grey lighten-3 grey-text text-darken-3 ">favorite</i></a> 
              <%}%>
              <%if(likes.some((like)=>{return like==user.googleId})){%>
                  
                  <a id="like-button" class="disabled  btn-floating  grey lighten-3"><i class="grey lighten-3 grey-text text-darken-3  material-icons ">  thumb_up_alt</i></a>
                
                  <%} else{%>
                
                        
                
                  <a id="like-button" class="btn-floating  grey lighten-3"><i class="grey lighten-3 grey-text text-darken-3  material-icons ">  thumb_up_alt</i></a>
            <%}%>
            <%}else{%>
              <span class="grey-text lighten-1" style="font-size:0.9rem;">Login to like or save this post as favorite</span>
              <a id="favorite-button" class="disabled  btn-floating grey lighten-3"><i class="material-icons grey lighten-3 grey-text text-darken-3 ">favorite</i></a>
              <a id="like-button" class="disabled  btn-floating  grey lighten-3"><i class="grey lighten-3 grey-text text-darken-3  material-icons ">  thumb_up_alt</i></a>
            
              <%}%>
            </div>
        </div>
        <div class="center" style="font-size:6rem;">.     .    .</div>
        <br>
        <div id="about-the-author" style="max-height: max-content; padding-top: 1rem;">
          <div class="row valign-wrapper">
            <div class="col s12 m6 center ">
               <img src="<%= typeof(userblog)!='undefined'? userblog.profilepic:''%>" style="height:100px; width: 100px; border-radius: 50%; ">
                <h5><%= typeof(userprofile)!='undefined'? userprofile.username:''%></h5>
            </div>
            <div class="col s12 m6 ">
              <h4 class="grey-text text-darken-3 center">About Me</h4>
              <p class="grey-text text-darken-1"><%=userprofile.description%></p>
              <span id="author-email" style="display:none"><%=userprofile.email%></span>
            </div>
          </div>
        </div>
        </div>
      </div>
      <br>
      <div class="divider"></div>
      <br>
      <section id="suggestions" style="min-height:40vh; z-index: -1;">
        <%if(typeof(blogs)!='undefined'){%>
          <div class="grey-text text-darken-1 container"><h6>Read More...</h6></div>
          <br>
          <div class="row">
              <%for(i=0;i<3;i++){var blog=blogs[i];%>
                <%if(typeof(blog)!='undefined'){%>
                    <div class="col s12 m4" id="blog">
                      
                        <div class="card  hoverable small">
                            <div class="card-image">
                                <a href="/display/display-blog/<%=blog._id%>" class="blogTrigger  ">
                                <img src="/uploads/<%=blog.bigPic.filename%>" class="responsive-img" style="opacity:0.4;">
                                <span class="card-title">
                                    <h5 class="truncate black-text"  style="font-weight:bold;">
                                        
                                    <%=blog.title%>
                                    
                                    </h5 >
                                        
                                    </span>
                                  </a>
                            </div>
                            
                            <div class="card-content">    
                            <div class=" valign-wrapper" id="author">
                                        <ul class="collection" style="border:none; margin-bottom: 0;">
                                            <li class="collection-item avatar">
                                                <img src="<%=blog.profilepic%>" class="circle ">
                                        <p><span  class="title grey-text text-darken-3"><%=blog.author%></span> </p> 
                                        <p><span class="grey-text text-lighten-1"><%=blog.date%></span> </p>
                                            
                                      </li>
                                      </ul>
                                </div> 
                            </div>
                        </div>
                    </div>
                        <%}%>
                        <%}%>
                </div>
                <%} else{%>
                        <div class="grey-text text-darken-1 container"><h6>No more posts to show...</h6></div>
                        <%}%>    
      </section>

      <div class="divider"></div>
    </section>
   
    <!--End-->

    <!--Comment Section-->
    <section class="section container" style="min-height:40vh;">
       
      <!-- Modal Trigger -->
      <div class="row ">
      
  <div class="col s6 m3 ">
  <h6 class="grey-text text-darken-1 right">Responses...</h6>
</div>
  <div class="col s6 m4 offset-m2">
    <%if(typeof(user)=='undefined'){%>
      <a class="teal-text btn disabled right waves-effect" href="#modal1" style="border:1px teal solid; border-radius:5px; padding:2px 4px;">Login to write a response</a></div>
      <%} else{%>
  <a class="teal-text modal-trigger right waves-effect" href="#modal1" style="border:1px teal solid; border-radius:5px; padding:2px 4px;">Write a response</a></div>
  <%}%>
</div>
<%if(typeof(user)!='undefined'){%>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row">
            <form class="col s12" ">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">mode_edit</i>
                  <textarea id="response-text" class="materialize-textarea" name="responseText"></textarea>
                  <label for="response-text">Share your views...</label>
                </div>
                <div class="input-field col s12">
                    <a href="#"  id="post-response" class="modal-close waves-effect waves-green btn-flat">Post</a>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
                  </div>
                <div class="input-field col s12" style="display:none;" >
                    <input disabled value="<%=user.username%>" id="usernameCom" type="text" class="validate" >
                 
                  </div>
                  <div class="input-field col s12">
                      <input disabled value="<%=(new Date()).toDateString()%>" id="dateCom" type="text" class="validate" style="display:none;"  >
                  
                    </div>
                    <div class="input-field col s12" style="display:none;">
                        <input disabled value="<%=userblog.id%>" id="blogidCom" type="text" class="validate"   >
                    
                      </div>
                    <div class="input-field col s12" style="display:none;">
                        <input disabled value="<%=user.thumbnail%>" id="profilepicCom" type="text" class="validate"   >
                    
                      </div>
              </div>
              
            </form>
          </div>
    </div>
    <div class="modal-footer">
    
     
    </div>
  </div>
<%}%>

    <!--comments-->
    <div class="row container" id="comments">
      <%if(typeof(responses)!='undefined'||!responses.length){%>
        <%responses.forEach((response)=>{%>
      <div class="col s12">
          <div class="card-panel white">
              <ul class="collection" style="border:none;">
                  <li class="collection-item avatar">
              <img class="responsive-img circle" src="<%=response.profilepic%>">
              <span class="title"><%=response.writer%></span>
              <p><span class="grey-text text-lighten-1"><%=response.date%></span> <span><a href="#" class="grey-text text-darken-2 right"> <i class="material-icons" ">
                  thumb_up_alt
                  </i> </a></span></p>
            </li>
            </ul>
              <span class="grey-text text-darken-2"><%=response.content%> </span>
            </div>
      </div>
      <%})%>
      <%}%>

      <div class="col s12">
          <div class="card-panel white">
              <ul class="collection" style="border:none;">
                  <li class="collection-item avatar">
              <i class="material-icons circle green">insert_chart</i>
              <span class="title">Marry Jane Watson</span>
              <p><span class="grey-text text-lighten-1">26 Jan, 2019</span> <span><a href="#" class="grey-text text-darken-2 right"> <i class="material-icons tooltipped" data-position="bottom" data-tooltip="I am a tooltip">
                  thumb_up_alt
                  </i> </a></span></p>
            </li>
            </ul>
              <p class="grey-text text-darken-2">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam reiciendis tempore vel beatae provident exercitationem voluptas nostrum autem sit omnis!
              </p>
            </div>
      </div>
      <div class="col s12">
          <div class="card-panel white">
              <ul class="collection" style="border:none;">
                  <li class="collection-item avatar">
              <i class="material-icons circle blue">face</i>
              <span class="title">Aunt May</span>
              <p><span class="grey-text text-lighten-1">26 Jan, 2019</span> <span><a href="#" class="grey-text text-darken-2 right tooltipped" data-position="bottom" data-tooltip="I am a tooltip"> <i class="material-icons" ">
                  thumb_up_alt
                  </i> </a></span></p>
            </li>
            </ul>
              <span class="grey-text text-darken-2">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
              </span>
            </div>
      </div>
    </div>        
    </section>

    <!--Footer-->
    <footer class="page-footer  grey  darken-4 " style="margin-top:4rem;">
        <div class="container">
          <div class="row">
            <div class="col l6 s12 m6">
              <h5 class="white-text">Echo Blogs</h5>
              <p class="grey-text text-lighten-1 left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima consectetur maiores repellat magni fuga aspernatur! Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="col l4 offset-l2 s12 m6">
              <h5 class="white-text">Connect With Us</h5>
              <ul >
                <li><a class="grey-text text-lighten-1" href="#!">Facebook</a></li>
                <li><a class="grey-text text-lighten-1" href="#!">Twitter</a></li>
                <li><a class="grey-text text-lighten-1" href="#!">Linkedin</a></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright black">
          <div class="container center">
          © 2019 Echo Inc | All rights reserved
          
          </div>
        </div>
      </footer>
      <!--End-->


      <script>
        window.onload=()=>{
          let favorite_button=document.getElementById('favorite-button');
          favorite_button.onclick=()=>{
           
            if(favorite_button.classList.contains('disabled')){
              M.toast({html: 'You already favorited the post!'});
              return;
            }
            favorite_button.classList.add('disabled');
            M.toast({html: 'Post added to favorites!'});
           
            favorite_button.classList.remove('lighten-3');
            favorite_button.classList.add('darken-3');
            favorite_button.classList.remove('text-darken-3');
            favorite_button.classList.add('text-lighten-3');
         
            let xml0=new XMLHttpRequest();
            xml0.open("GET","http://localhost:3000/display/favorite/?blogid="+document.getElementById('blogidCom').value,true);  ///just a shortcut with the routes
            xml0.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xml0.onreadystatechange=()=>{
              if(xml0.readyState==4&&xml0.status==200){
              }
            }
            xml0.send();
           }
          let like_button=document.getElementById('like-button');
          like_button.onclick=()=>{
            let like_numbers=document.getElementById('number-of-likes');
            if(like_button.classList.contains('disabled')){
              M.toast({html: 'You already liked the post!'});
              return;
            }
            like_button.classList.add('disabled');
            M.toast({html: 'You liked the post!'});
            like_numbers.innerHTML=parseInt(like_numbers.innerHTML)+1;
            like_button.classList.remove('lighten-3');
            like_button.classList.add('darken-3');
            like_button.classList.remove('text-darken-3');
            like_button.classList.add('text-lighten-3');
         
            let xml1=new XMLHttpRequest();
            xml1.open("GET","http://localhost:3000/display/like/?blogid="+document.getElementById('blogidCom').value,true);  ///just a shortcut with the routes
            xml1.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xml1.onreadystatechange=()=>{
              if(xml1.readyState==4&&xml1.status==200){
              }
            }
            xml1.send();
          }

          let follow_button=document.getElementById('follow-req');
          follow_button.onclick=()=>{
           // console.log(follow_button.innerHTML)
            let author_email=document.getElementById('author-email').innerHTML;
           // console.log(author_email);
            if(follow_button.innerHTML=='Following'){
              console.log("hello")
            follow_button.innerHTML='Follow';
            M.toast({html: 'You have unfollowed this author!'});
                    let xml3=new XMLHttpRequest();
            xml3.open("GET","http://localhost:3000/display/unfollow/?email="+author_email,true);  
            xml3.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xml3.onreadystatechange=()=>{
              if(xml3.readyState==4&&xml3.status==200){
                return;
              }
            }
            xml3.send();
            return;
             }
     
            follow_button.innerHTML='Following';
            M.toast({html: 'You are following this author!'});

            let xml2=new XMLHttpRequest();
            xml2.open("GET","http://localhost:3000/display/follow/?email="+author_email,true);  
          xml2.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          xml2.onreadystatechange=()=>{
            if(xml2.readyState==4&&xml2.status==200){
            }
          }
          xml2.send();
      }
        let post_response=document.getElementById('post-response');
        post_response.onclick=()=>{
          
          let xml=new XMLHttpRequest();
          
        xml.open("GET","http://localhost:3000/display/post-comment/?blogid="+document.getElementById('blogidCom').value+"&responseText="+document.getElementById('response-text').value+"&username="+document.getElementById('usernameCom').value+"&date="+document.getElementById('dateCom').value+"&profilepiclink="+document.getElementById('profilepicCom').value,true);  ///try to change this to post
        xml.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xml.onreadystatechange=()=>{
          if(xml.readyState==4&&xml.status==200){
            let responseResult=JSON.parse(xml.responseText)
            var responseHtml=` <div class="col s12">
                  <div class="card-panel white">
                      <ul class="collection" style="border:none;">
                          <li class="collection-item avatar">
                      <img class="responsive-img circle" src="${responseResult.profilepic}">
                      <span class="title">${responseResult.writer}</span>
                      <p><span class="grey-text text-lighten-1">${(new Date()).toDateString()}</span> <span><a href="#" class="grey-text text-darken-2 right"> <i class="material-icons" ">
                          thumb_up_alt
                          </i> </a></span></p>
                    </li>
                    </ul>
                      <span class="grey-text text-darken-2">${responseResult.content} </span>
                    </div>
              </div>`
              document.getElementById('comments').innerHTML=responseHtml+ document.getElementById('comments').innerHTML;
          window.location.href='#comments';
          }

        }
        xml.send();
        }
      }

      </script>


    <!--script-->
    <script>

    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.pushpin');
      var instances = M.Pushpin.init(elems,{});
    });
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, {});
    
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
    
  
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'top',
      hoverEnabled: false
    });
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems, {});
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, {});
  });
  </script>
</body>
</html>

